*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
h1{
    background-color: blueviolet;
    color:white;
    height:5rem;
    line-height: 5rem;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;  
}
.choice:hover{
    cursor: pointer;
    background-color: hwb(240 2% 97% / 0.88);
}
img{
    height: 150px;
    width: 150px;
    object-fit:cover ;
    border-radius: 50%;   
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap:2rem;
    
}
#user-score,#comp-score{
    font-size: 4rem;  
}
.msg-container{
    margin-top:5rem;
}
#msg{
    background-color: hwb(240 2% 97% / 0.88);
    color: white;
    font-size: 2rem;
    display: inline;
    padding:1rem;
    border-radius: 1rem; 
}


